/web/bundles/
/web/css/
/web/js/
/web/fonts/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/data/*.sqlite
/app/Resources/assets/components/*
/build/
/vendor/
/bin/
/composer.phar
/*.zip
!/ds1.sfdaypt14.zip

# Don't keep the lock file to prevent problems with ICU
/composer.lock

#Vagrant
.vagrant

# Eclipse IDE
.settings/*
.buildpath
.project
.metadata
.externalToolBuilders/

# NetBeans IDE
nbproject/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# phpstorm IDE
*.iml
*.ipr
*.iws
.idea/

# php backup files
*.php~

